{:deps {expound {:mvn/version "0.7.1"}
        org.clojure/clojure {:mvn/version "1.9.0"}
        org.clojure/tools.cli {:mvn/version "0.4.1"}
        org.martinklepsch/clj-http-lite {:mvn/version "0.4.1"}
        hickory {:mvn/version "0.7.1"}}
 :aliases {:native-image
           {:main-opts ["-m clj.native-image clojurl"
                        "--report-unsupported-elements-at-runtime"
                        "--enable-url-protocols=http,https"
                        "-Dclojure.compiler.direct-linking=true"]
            :extra-deps
            {clj.native-image
             {:git/url "https://github.com/taylorwood/clj.native-image.git"
              :sha "d97f25aa153e0f94139f5d03e60a345151815d4d"}}}}}
