{:deps {org.clojure/clojure {:mvn/version "1.9.0"}
        org.clojure/tools.cli {:mvn/version "0.4.1"}
        clj-http-lite {:mvn/version "0.3.0"}}
 :aliases {:native-image
           {:main-opts ["-m clj.native-image script"
                        "-H:Name=clojurl"
                        "--report-unsupported-elements-at-runtime"
                        "--enable-url-protocols=http,https"
                        "-Dclojure.compiler.direct-linking=true"]
            :extra-deps
            {clj.native-image
             {:git/url "https://github.com/taylorwood/clj.native-image.git"
              :sha "0f113d46f9f0d07e8a29545c636431ddf5360a7d"}}}}}
